/* Footer.css */
.footer-container {
    background-color: #f8f9fa; 
    color: #333; 
    padding: 3rem 0;
    border-top: 1px solid #e7e7e7; 
  }
  
  .footer-container h6 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #333; 
  }
  
  .footer-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .footer-container a:hover {
    color: #0056b3;
  }
  
  .footer-container .list-unstyled {
    padding-left: 0;
    list-style: none;
  }
  
  .footer-container .list-unstyled li {
    margin-bottom: 0.5rem;
  }
  
  .footer-container address {
    margin-bottom: 1rem;
  }
  
  .footer-container .list-inline {
    padding-left: 0;
    list-style: none;
    margin-top: 1rem;
  }
  
  .footer-container .list-inline-item {
    display: inline-block;
    margin-right: 0.5rem;
  }
  
  .footer-container .list-inline-item:last-child {
    margin-right: 0;
  }

  .github-icon {
    width: 80px; 
    height: auto; 
  }
  

  .velog-icon {
    width: 80px;
    height: auto;
  }
  
  @media (max-width: 576px) {
    .footer-container {
      text-align: center;
    }
  
    .footer-container .row > div {
      margin-bottom: 1.5rem;
    }
  
    .footer-container .list-inline {
      text-align: center;
    }
  }
  
  